.background{ 
    min-height: 540px;

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #16181b!important;
}

.user-box{
   
    margin-right: 50px!important;
}

.title{
    color: brown;
}

.home-text{
    color: blue!important;
}


.form-card-header {
    background: linear-gradient(90deg, rgba(34,70,195,1) 0%, rgba(152,60,208,1) 100%) !important;
}

.form-card-header-title {
    color:white;
}

.buttons{
    float: right;
    margin-right: 5%;
}


.myNavbar{
    margin-left: 0px!important;
}