.background{ 
    min-height: 540px;

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #16181b!important;
}

.user-box{
   
    margin-right: 50px!important;
}

.match-box{
    margin: 10px;
    float: left;
    width: 25%;
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 5px;
}

.match-details-box{
    padding: 5px;
    width: 40%;
    height: 146px;
    float: right;
    background-color: silver;
}

.group-box{
    margin: auto;
    margin-top: 10px;
    border:1px lightgray solid;
    width:90%;
    min-height:250px;
    height: auto;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 5px;
}

.match-result-box{
    padding: 5px;
    padding-left: 15px;
    width: 50%;
    float: left;
}

.detail-title{
    font-weight: bold;
}

.title{
    color: brown;
}

.home-text{
    color: blue!important;
}


.form-card-header {
    background: linear-gradient(90deg, rgba(34,70,195,1) 0%, rgba(152,60,208,1) 100%) !important;
}

.group-card-header {
    background: linear-gradient(90deg, rgb(95, 187, 53) 0%, rgb(81, 172, 175) 100%) !important;
}

.form-card-header-title {
    color:white;
}

.buttons{
    float: right;
    margin-right: 5%;
}


.myNavbar{
    margin-left: 0px!important;
}